@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.inner-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.left-section {
  background-image: url("./images/Frame 2.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 50px 0 50px;
}
.welcome-img {
  margin-bottom: -20px;
}
.logo {
  margin-bottom: 60px;
}
.Signup-heading {
  color: #ffffff;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 20px;
}
.signup-subHeading {
  color: #a097ed;
  font-weight: 600;
  font-size: 20px;
}
.left-section,
.right-section {
  overflow: hidden;
}

.signup-title {
  font-weight: 600;
  font-size: 75px;
  color: #2e1c55;
  margin-bottom: 40px;
}
.if-already-sigup {
  font-weight: 600;
  font-size: 20px;
  color: #2e1c55;
  margin-top: 51px;
  text-align: center;
}
.sign-Up-btn {
  background: linear-gradient(91.02deg, #6d42c7 24.06%, #a097ed 115.51%);
  box-shadow: 0px 4px 26px rgba(255, 246, 246, 0.24);
  border-radius: 8px;
  cursor: pointer;
}
.sign-btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  padding-left: 5px;
  color: #6d42c7;
  box-shadow: 0px 4px 26px 0px #fff6f63d;
}
.right-inner-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.w-100 {
  width: 100%;
}
::placeholder {
  color: rgba(46, 28, 85, 0.25);
  font-weight: 600;
  font-size: 24px;
}
.right-inner-section {
  max-width: 540px;
  margin: auto;
  padding: 0 20px;
}
.signUp-input {
  border: 3px solid rgba(46, 28, 85, 0.25);
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  margin-bottom: 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
input:focus {
  outline: none;
}
.signUp-btn {
  background: linear-gradient(91.02deg, #6d42c7 24.06%, #a097ed 115.51%);
  box-shadow: 0px 4px 26px 0px #fff6f63d;
  border-radius: 8px;
  border: 0;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 9px;
  width: 100%;
  cursor: pointer;
}
.forgot-pass {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  justify-content: end;
  width: 100%;
  color: rgba(46, 28, 85, 0.25);
  cursor: pointer;
}
/* popup box */
.popup-box {
  padding: 42px 20px 58px 20px;
  text-align: center;
}
.inner-box {
  max-width: 625px;
  margin: auto;
}
.box-img {
  margin-bottom: 49px;
}
.verification {
  color: #2e1c55;
  margin-bottom: 38px;
  font-size: 18px;
}
.did-not-recive {
  color: #2e1c55;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 600;
}
.resend {
  color: #6d42c7;
  font-size: 17px;
  font-weight: 600;
}
.verify-btn {
  background: linear-gradient(91.02deg, #6d42c7 24.06%, #a097ed 115.51%);
  box-shadow: 0px 4px 26px 0px #fff6f63d;
  color: #ffffff;
  max-width: 500px;
  width: 100%;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 600;
}
#form {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 21px;
}
#form input {
  background-color: transparent;
  border: 2px solid #2e1c55;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  width: 100%;
  height: 70px;
}
#form div {
  width: 100%;
  justify-content: center;
}
.otp-container {
  max-width: 50px;
  min-width: 50px;
}
.otp-container input {
  color: black !important;
  width: 100% !important;
}
.right-section {
  padding-top: 175px;
  padding-bottom: 175px;
}
.otp-container:last-child input {
  margin-right: 8px;
}
input {
  font-size: 20px;
}
input:focus {
  background-color: #ffffff;
}
input:focus-visible {
  background-color: #ffffff;
}
@media (max-width: 1200px) {
  .right-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (min-width: 1024px) {
  .right-section {
    width: 50%;
    position: absolute;
    left: 50%;
  }
  .left-section {
    position: fixed;
    width: 50%;
  }
  input {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .inner-container {
    grid-template-columns: 100%;
  }
  .signup-title {
    font-size: 65px;
  }
  ::placeholder {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .right-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .signup-title {
    font-size: 50px;
  }
  .popup-box {
    padding: 20px 20px 20px 20px;
  }
  ::placeholder {
    font-size: 18px;
  }
  .if-already-sigup {
    font-size: 16px;
    margin-top: 38px;
  }
  input {
    font-size: 16px;
  }
  input:focus {
    background-color: #ffffff;
  }
  .signUp-btn {
    padding: 15px 20px;
  }
}
@media (max-width: 420px) {
  ::placeholder {
    font-size: 15px;
  }
  .signUp-input {
    padding: 15px 10px;
    margin-bottom: 15px;
  }
  .right-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
